# Токен бота від @BotFather
BOT_TOKEN=123456789:ABCdefGHI...

# Посилання на тг-канал (після підтвердження "Я людина")
# Якщо не вказати, буде використано https://t.me/test123456789absd
# CHANNEL_LINK=https://t.me/test123456789absd

# Telegram ID того, хто отримує статистику (дізнатися в @userinfobot)
# ADMIN_ID=123456789
